{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    
    <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>  hardcoded, tightly-coupled approach is challenging to change URLs on projects with a lot of templates  -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}